<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%- title %> </title>
</head>
<body>
    <div class="container">
        <form action="/" method="post">
            <h3>SignUp</h3>
        <input type="text" placeholder="Enter username or email">
        <input type="text" placeholder="Enter Password">
        <input type="button" value="LOGIN">
        </form>
    </div>
</body>
</html>