<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/main.js" defer></script>
</head>
<body>
    <header>
        <h3>AuthSystem</h3>
        <button><a href="/auth/test/">Sign in</a></button>
    </header>
    <form>
        <legend>Username:</legend>
        <input type="text" class="signusername">
        <legend>Email:</legend>
        <input type="email" class="email">
        <legend>Password:</legend>
        <input type="password" class="signpassword">
        <button class="signup">signup</button>
    </form>

</body>
</html>