<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%- title %> </title>
</head>
<body>
    <div class="container">
        <h3>SignUp</h3>
        <input type="text" placeholder="Enter username">
        <input type="text" placeholder="Enter Email">
        <input type="text" placeholder="Enter Password">
        <input type="text" placeholder="Confirm Password">
        <input type="button" value="SIGNUP">
    </div>
</body>
</html>