<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%- title %> </title>
</head>
<body>
    <div class="container">
        <form action="/signup" method="POST">
            <h3>SignUp</h3>
            <input type="text" placeholder="Enter username" id="username" name="username" required>
            <input type="text" placeholder="Enter Email" id="email" name="email" required>
            <input type="text" placeholder="Enter Password" id="password" name="password" required>
            <input type="text" placeholder="Confirm Password" id="confirmPassword">
            <input type="button" value="SIGNUP" class="btn">
        </form>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.2/axios.min.js" integrity="sha512-JSCFHhKDilTRRXe9ak/FJ28dcpOJxzQaCd3Xg8MyF6XFjODhy/YMCM8HW0TFDckNHWUewW+kfvhin43hKtJxAw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/js/main.js">
    </script>
</body>
</html>